{% extends 'base.html' %}  
		{% load static %}
		{% block content %}
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h5>We need your Help to serve the people</h5>
						<h3>Help for victims affcted by flood</h3>
						<p>Please, stand for them and make a difference in the world <br /> Let's all make this place heaven for human</p>
						<a class="main_btn" href="accounts/signin">Donate Now</a>
						<a class="main_btn" href="posts/">View Activity</a>
					</div>
				</div>
            </div>
            <div class="donation_area">
				<div class="container">
					<div class="row donation_inner">
						<div class="col-lg-4">
							<div class="dontation_item yellow">
								<div class="media">
									<div class="media-body">
										<h4>Total Donation</h4>
										<p>Anonymous donated for the flood affected people</p>
									</div>
									<div class="d-flex">
										<h3>Rs.250K</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="dontation_item pink">
								<div class="media">
									<div class="media-body">
										<h4>Total Volunteers</h4>
										<p>Volunteers are growing joing our movement</p>
									</div>
									<div class="d-flex">
										<h3>3268</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="dontation_item green">
								<div class="media">
									<div class="media-body">
										<h4>Future Plans</h4>
										<p>The goals is till</p>
									</div>
									<div class="d-flex">
										<h3>Rs.7500k</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>Welcome to Help People</h4>
        					<p>This is the first platform where the donars and the people affectd by nature can come together without any intermediate.<br> We have started this mission with a vission that in India, also in the whole world, no one must die due to natural calamities</p>
        					<div class="row">
        						<div class="col-sm-4">
        							<div class="wel_item">
        								<i class="lnr lnr-database"></i>
        								<h4>Rs.2M</h4>
        								<p>Total Donation</p>
        							</div>
        						</div>
        						<div class="col-sm-4">
        							<div class="wel_item">
        								<i class="lnr lnr-book"></i>
        								<h4>1465</h4>
        								<p>Total Projects</p>
        							</div>
        						</div>
        						<div class="col-sm-4">
        							<div class="wel_item">
        								<i class="lnr lnr-users"></i>
        								<h4>3965</h4>
        								<p>Total Volunteers</p>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="welcome_img">
        					<img class="img-fluid" src="{% static 'img/welcome-img.jpg' %}" alt="">
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
        <!--================Causes Area =================-->
        <section class="causes_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Our Major Causes</h2>
        			<p>There are a lot many websites, campaigns and foundation for charity, for the fund raising. But, they are not transparent. The donars have no idea where his/her donation is going.</p>
        		</div>
        		<div class="causes_slider owl-carousel">
        			<div class="item">
        				<div class="causes_item">
        					<div class="causes_img">
        						<img class="img-fluid"><img src="{% static 'img/blog/causes/causes-1.jpg' %}" alt="">
        						<div class="c_parcent">
        							<span></span>
        						</div>
        					</div>
        					<div class="causes_text">
        						<h4>Let's make them smile</h4>
        						<p>They are also human. If god donot descrimate then who are we?</p>
        					</div>
        					<div class="causes_bottom">
								<a href="#">Raised: Rs.50,689</a>
								<a href="#">Total Need: Rs.500k</a>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="causes_item">
        					<div class="causes_img">
        						<img class="img-fluid"><img src="{% static 'img/blog/causes/causes-2.jpg' %}" alt="">
        						<div class="c_parcent">
        							<span></span>
        						</div> 
							</div>   	       					
        				</div>
        			</div>
        			<div class="item">
        				<div class="causes_item">
        					<div class="causes_img">
        						<img class="img-fluid"><img src="{% static 'img/blog/causes/causes-3.jpg' %}" alt="">
        						<div class="c_parcent">
        							<span></span>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="causes_item">
        					<div class="causes_img">
        						<img class="img-fluid"><img src="{% static 'img/blog/causes/causes-1.jpg' %}" alt="">
        						<div class="c_parcent">
        							<span></span>
        						</div>
        					</div>
        					<div class="causes_text">
        						<h4>Let's make them smile</h4>
        						<p>They are also human. If god donot descrimate then who are we?</p>
        					</div>
        					<div class="causes_bottom">
								<a href="#">Raised: Rs.50,689</a>
								<a href="#">Total Need: Rs.500k</a>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="causes_item">
        					<div class="causes_img">
        						<img class="img-fluid"><img src="{% static 'img/blog/causes/causes-2.jpg' %}" alt="">
        						<div class="c_parcent">
        							<span></span>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="causes_item">
        					<div class="causes_img">
        						<img class="img-fluid"><img src="{% static 'img/blog/causes/causes-3.jpg' %}" alt="">
        						<div class="c_parcent">
        							<span></span>
        						</div>
        					</div>
        					<div class="causes_text">
        						<h4>Did not find your Package</h4>
        						<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace that’s why it’s crucial.</p>
        					</div>
        					<div class="causes_bottom">
								<a href="#">Raised: $50,689</a>
								<a href="#">Total Need: $500k</a>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="causes_item">
        					<div class="causes_img">
        						<img class="img-fluid"><img src="{% static 'img/blog/causes/causes-1.jpg' %}" alt="">
        						<div class="c_parcent">
        							<span></span>
        						</div>
        					</div>
        					<div class="causes_text">
        						<h4>Did not find your Package</h4>
        						<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace that’s why it’s crucial.</p>
        					</div>
        					<div class="causes_bottom">
								<a href="#">Raised: $50,689</a>
								<a href="#">Total Need: $500k</a>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="causes_item">
        					<div class="causes_img">
        						<img class="img-fluid" src="{% static 'img/blog/causes/causes-2.jpg' %}" alt="">
        						<div class="c_parcent">
        							<span></span>
        						</div>
        					</div>
        					<div class="causes_text">
        						<h4>Did not find your Package</h4>
        						<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace that’s why it’s crucial.</p>
        					</div>
        					<div class="causes_bottom">
								<a href="#">Raised: $50,689</a>
								<a href="#">Total Need: $500k</a>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="causes_item">
        					<div class="causes_img">
        						<img class="img-fluid" src="{% static 'img/blog/causes/causes-3.jpg' %}" alt="">
        						<div class="c_parcent">
        							<span></span>
        						</div>
        					</div>
        					<div class="causes_text">
        						<h4>Did not find your Package</h4>
        						<p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace that’s why it’s crucial.</p>
        					</div>
        					<div class="causes_bottom">
								<a href="#">Raised: $50,689</a>
								<a href="#">Total Need: $500k</a>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Causes Area =================-->
      
        
        <!--================Event Area =================-->
        <section class="event_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Upcoming Events</h2>
        			<p>If you are a serious astronomy fanatic like a lot of us are, you can probably <br /> remember that one event in childhood that started.</p>
        		</div>
        		<div class="event_slider owl-carousel">
        			<div class="item">
        				<div class="event_item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="{% static 'img/event/event-1.jpg' %}" alt="">
        						</div>
        						<div class="media-body">
        							<a href="#">25th February, 2017</a>
        							<a href="event-details.html"><h4>The Universe Through A Child S Eyes</h4></a>
        							<p>For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="event_item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="{% static 'img/event/event-2.jpg' %}" alt="">
        						</div>
        						<div class="media-body">
        							<a href="#">25th February, 2017</a>
        							<a href="event-details.html"><h4>The Universe Through A Child S Eyes</h4></a>
        							<p>For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="event_item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="{% static 'img/event/event-1.jpg' %}" alt="">
        						</div>
        						<div class="media-body">
        							<a href="#">25th February, 2017</a>
        							<a href="#"><h4>The Universe Through A Child S Eyes</h4></a>
        							<p>For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="event_item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="{% static 'img/event/event-2.jpg' %}" alt="">
        						</div>
        						<div class="media-body">
        							<a href="#">25th February, 2017</a>
        							<a href="#"><h4>The Universe Through A Child S Eyes</h4></a>
        							<p>For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="event_item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="{% static 'img/event/event-1.jpg' %}" alt="">
        						</div>
        						<div class="media-body">
        							<a href="#">25th February, 2017</a>
        							<a href="event-details.html"><h4>The Universe Through A Child S Eyes</h4></a>
        							<p>For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes</p>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="event_item">
        					<div class="media">
        						<div class="d-flex">
        							<img src="{% static 'img/event/event-2.jpg' %}" alt="">
        						</div>
        						<div class="media-body">
        							<a href="#">25th February, 2017</a>
        							<a href="#"><h4>The Universe Through A Child S Eyes</h4></a>
        							<p>For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes</p>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Event Area =================-->
        
        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="row testimonials_inner">
        			<div class="col-lg-4">
        				<div class="testi_left_text">
        					<h4>Testimonial from our Donors</h4>
        					<p>Las Vegas has more than 100,000 hotel rooms to choose from. There is something for every budget, and enough.</p>
        				</div>
        			</div>
        			<div class="col-lg-8">
        				<div class="testi_slider owl-carousel">
							<div class="item">
								<div class="testi_item">
									<img src="{% static 'img/testimonials/testi-1.png' %}" alt="">
									<p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
									<h4>Cordelia Barton</h4>
									<h6>CEO at Google</h6>
								</div>
							</div>
							<div class="item">
								<div class="testi_item">
									<img src="{% static 'img/testimonials/testi-2.png' %}" alt="">
									<p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
									<h4>Cordelia Barton</h4>
									<h6>CEO at Google</h6>
								</div>
							</div>
							<div class="item">
								<div class="testi_item">
									<img src="{% static 'img/testimonials/testi-1.png' %}" alt="">
									<p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
									<h4>Cordelia Barton</h4>
									<h6>CEO at Google</h6>
								</div>
							</div>
							<div class="item">
								<div class="testi_item">
									<img src="{% static 'img/testimonials/testi-2.png' %}" alt="">
									<p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
									<h4>Cordelia Barton</h4>
									<h6>CEO at Google</h6>
								</div>
							</div>
							<div class="item">
								<div class="testi_item">
									<img src="{% static 'img/testimonials/testi-1.png' %}" alt="">
									<p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
									<h4>Cordelia Barton</h4>
									<h6>CEO at Google</h6>
								</div>
							</div>
							<div class="item">
								<div class="testi_item">
									<img src="{% static 'img/testimonials/testi-2.png' %}" alt="">
									<p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its</p>
									<h4>Cordelia Barton</h4>
									<h6>CEO</h6>
								</div>
							</div>
						</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->
        
        <!--================Clients Logo Area =================-->
        <section class="clients_logo_area">
        	<div class="container">
        		<div class="clients_slider owl-carousel">
        			<div class="item">
        				<img src="{% static 'img/clients-logo/c-logo-1.png' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'img/clients-logo/c-logo-2.png' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'img/clients-logo/c-logo-3.png' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'img/clients-logo/c-logo-4.png' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'img/clients-logo/c-logo-5.png' %}" alt="">
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Clients Logo Area =================-->
        {% endblock content %}
 